//--------------------------------------
// Created: 29-11-2013
// Created by: Nicolaj Lund Nielsen
// Modifiers:
//--------------------------------------

// Font Setup
@import "less/_font";

// Core variables and mixins
@import "less/_variables";
@import "less/_mixins";

// Normalize
@import "less/_normalize";

/* ==============
    GENEREL ELEMENTS
   ============== */

body {
	margin: 0;
	padding: 0;
    color: @text-color;
	overflow-y: scroll;
	font: 16px Arial, Helvetica, sans-serif;
	background: @body-bg;
	line-height: 1.4;
}

::-moz-selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}

::selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}
.visuallyhidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

h1 {
	margin: 0 0 20px;
}

img {
	max-width:100%;
	height:auto;
}

/* ==============
    DIS/PLAY CSS
   ============== */

.site-wrapper {
	width: 100%;
	max-width: 700px;
	position: absolute;
	top: 3em;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	transition: all 600ms ease;
	&.waiting {
		top: 50%;
	}
	background-color: lightblue;
}

.site-content {
	padding: 20px;
	text-align: center;
}

label {
	position: relative;
	display: inline-block;
	width: 80%;
}
label:after {
	content: "\23CE";
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: auto;
	display: inline-block;
	margin: 0;
	padding: 3px 4px;
	text-transform: uppercase;
	color: #ccc;
	border: 1px solid #ddd;
}
.ready label:after {
	color: #999;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 3px 0px #999;
}
label > span {
	position: absolute;
	top: -100%;
	left: -100%;
}

input, textarea:focus, input:focus {
	outline: 0;
	border: 0;
}

input[type="text"] {
	width: 100%;
	padding: 10px 15px;
	//.border-radius(4px);
}

input[type="submit"] {
	padding: 10px 15px;
	.border-radius(4px);
	background-color: #060;
	color: #eee;

	&.disabled {
		background-color: #ccc;
	}
}

.suggestions {
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	width: 100%;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px 0px #ddd;

	&.is-hidden {
		display: none;
	}
}
.suggestions__list {
	margin: 0;
	padding: 0;
}
.suggestions__listitem {
	display: block;
	margin: 0;
	padding: 10px 5px 10px 15px;
	list-style: none;
	text-align: left;
	font-size: 14px;

	&.is-active {
		background-color: #d5d5d5;
	}
}
.suggestions__listlink {
	text-decoration: none;
	color: #333;
}


// Helper classes
@import "less/_helpers";
